@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom animations for smooth transitions */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}